################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.gitattributes
*.gitignore
*.gitkeep
/.gitignore
/API/Zerphin.RentACar.API/appsettings.json
*.md
